for my maze project to can compile and run it
****
how to install SDL2 and its sdl_image in my shell
*************
sudo apt update
sudo apt update && sudo apt upgrade
sudo apt install libsdl2-dev
sudo apt update
sudo apt upgrade libsdl2-2.0-0 libsdl2-image-2.0-0
sudo apt install libsdl2-image-dev
sudo apt install xorg
startx
sudo apt install xvfb
Xvfb :1 -screen 0 1024x768x16 &
export DISPLAY=:1
sudo dnf install SDL2_image-devel
sdl2-config --version